{% extends "Skeleton.html" %}

{% block page_title %} {{ title }} {% endblock %}

{% block page_container %}

<div class="update_form_block">
    {% if customer_form %}
    <form action="" method="post">
        <h1>{{ title }}: {{ entity.firstname }} {{ entity.lastname }}</h1>
        {% csrf_token %}
        <table class="customer-table">
            {{ customer_form.as_table }}
        </table>
        <button type="submit">Save</button>
    </form>

    {% elif vehicle_form %}
    <form action="" method="post">
        <h1>{{ title }}: {{ entity.model }} {{ entity.name }}</h1>
        {% csrf_token %}
        <table class="vehicle-table">
            {{ vehicle_form.as_table }}
        </table>
        <button type="submit">Save</button>
    </form>

    {% elif manufacturer_form %}
    <form action="" method="post">
        <h1>{{ title }}: {{ entity.name }}</h1>
        {% csrf_token %}
        <table class="manufacturer-table">
            {{ manufacturer_form.as_table }}
        </table>
        <button type="submit">Save</button>
    </form>
{% endif %}
</div>

{% endblock %}
